---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Skill from '../components/Skill.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-24">
    <div class="container">
      <h2 class="mb-16 text-6xl">Compétences</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="HTML">
          Intégration HTML, dans le soucis d'une intégration sémantique et accessible.
        </Feature>
        <Feature icon="mdi:looks" title="CSS">
          Le CSS porte de mieux en mieux le terme de langage de programmation. Sa puissance ne fait que croître et nous simplifie grandement la vie.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Accessibilité">
          Sensible à ce sujet j'aimerais porter ces valeurs pour nous ouvrir un web plus accessible.
        </Feature>
        <Feature icon="mdi:shield-user" title="Ergonomie">
          La base de ma formation et de ma sensibilité, c'est d'offrir des interfaces user friendly 
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Rédaction / SEO">
          Concevoir des contenus à destination de votre public cible, tout en optimisant votre référencement et en surfant sur l'actualité de votre domaine. 
        </Feature>
        <Feature icon="mdi:brush" title="Créativité Digitale">
          Créative dans l'âme. Sur écran ou sur papier, j'aime pouvoir y mettre ma "touche". :)
        </Feature>        
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Créative et logique, ces deux traits de ma personnalité me permettent de trouver des solutions originales et efficaces, là où d'autres pourraient bloquer.
J'aime écouter, faire parler puis guider pour créer des design, définir des parcours, construire des projets...
    </p>
  </ContentMedia>
 
  <section class="my-24">
    <div class="container">
      <h2 class="mb-16 text-6xl">Qualités / Soft skills</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Skill icon="mdi:hand-heart" title="Empathie">
          Comprendre les gens devrait être considéré comme un super pouvoir.
        </Skill>
        <Skill icon="mdi:eye" title="Intuition">
          Très utile pour deviner la fin des films, résoudre des énigmes et éviter les projets foireux.
        </Skill>
        <Skill icon="mdi:smiley" title="Sourire">
          Si vous avez eu des collègues qui tiraient l’ambiance vers le bas. Vous y serez sensible. C’est mon mode par défaut. 
        </Skill>
        <Skill icon="mdi:people" title="Esprit d'équipe">
          Seul on va plus vite, ensemble on va plus loin ! Prendre le relai sur un dossier hors de mon cadre pour soulager l’équipe. Aider un collègue sur un point bloquant... 
          Faire front ensemble sans pointer inutilement un responsable. Voilà mon état d’esprit.
        </Skill>
        <Skill icon="mdi:idea" title="Dégourdie">
          Autonome doit être plus souvent utilisé, mais autonome ne couvre pas l’ensemble du message que je souhaite vous faire passer. 
          Dégourdie est le mot juste selon moi. Dans le sens: habile, ingénieuse.
        </Skill>
        <Skill icon="mdi:brain" title="Logique">
          Logique, cartésienne, cela m'a beaucoup aidé dans mes études. Et cela reste vrai dans ma vie professionnelle. 
        </Skill>        
      </div>
    </div>
  </section>
  <section class="mb-32 mt-12">
    <div class="container">
      <h2 class="mb-16 text-6xl">Quelques chiffres</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="19ans" title="Expériences" sub="Professionnelles" />
        <Counter count="2" title="Entreprises" sub="Employeurs" />
        <Counter count="411" title="Contributions" sub="Sur Github" />
        <Counter count="100+" title="Billets" sub="de blog" />
      </div>
    </div>
  </section>
</DefaultLayout>
