---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Site réalisée par mes soins à partir du thème <a href="https://astro.build/">Astro</a> fait avec amour ❤️ par  <a href="https://github.com/markteekman">Mark Teekman</a
        >.
        <a href="https://github.com/markteekman/accessible-astro-starter" class="text-center text-lg"> Utilisez, vous aussi ce thème "accessible-astro-starter" ;)</a>
      </p>
    </div>
  </section>
</footer>
