---
import { Icon } from 'astro-icon/components'

const { src = '/portrait-aa.png' } = Astro.props
---

<section class="hero my-12">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Portfolio</span> Aurore A.</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://www.linkedin.com/in/aurore-allibe-0221867/" target="_blank">
            <Icon name="mdi:linkedin" />
            Mon linkedin
          </a>
          <a
            class="button has-icon color-secondary"
            href="/CV-Designer-Allibe-Aurore.pdf"
            target="_blank"
          >
            <Icon name="mdi:user" />
            Téléchargez mon CV
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
